@import url('https://fonts.googleapis.com/css2?family=Allison&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

html,body {
  width: 100%;
  height: 100%;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

li{
    list-style: none;
}
:root{
    --dark-blue: #0a1d3c;
    --light-gray: #e5e5e5;
    --white: #fff;
    --light-peach: #f9e3bc;
    --dark-gray: #3e3f43;
    --light-black: #1d1d1d;
}
.section{
    min-height: 100vh;
    /* background-color: red; */
}

/* Section 1 */
nav{
    width: 85%;
    margin: auto;
    height: 13vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
header{
    height: calc(100vh - 13vh);
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-evenly;
    margin: auto;
}
.nav-links{
    position: absolute;
    display: flex;
    gap: 2rem;
    right: 0;
}
.nav-links li a{
    font-size: 1rem;
    color: var(--dark-gray);
    letter-spacing: 0.03rem;
    position: relative;
}
.header-img{
    width: 28rem;
}
.logo{
    color: var(--dark-blue);
    font-family: "Allison", cursive;
    font-size: 3rem;
    cursor: pointer;
}
.header-heading{
    font-size: 5rem;
    position: relative;
}
.header-heading::before{
    content:'New';
    position: absolute;
    top: -60px;
    font-family: "Allison", cursive;
    color: var(--dark-blue);
}
.product-name{
    font-size: 1.75rem;
}
.header-pricing{
    font-size: 1.5rem;
    margin-block: 1rem;
}
.btn-container{
    margin-top: 2rem;
}
.primary-btn,.secondary-btn{
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 1rem 1.85rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.primary-btn{
    background-color: var(--light-gray);
}
.primary-btn:hover , .section-two button:hover, .section-four-btn:hover{
    transform: scale(1.1);
}
.secondary-btn{
    background-color: var(--dark-blue);
    color: var(--white);
    transform: scale(1.1);
}
.secondary-btn:hover{
    transform: scale(1);
}

.nav-links li a::after , .nav-links li .active::after{
    content: "";
    background-color: var(--dark-gray);
    width: 100%;
    height: 0.15rem;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    transform-origin: right;
}
.nav-links li a:hover::after , .nav-links li .active::after{
    transform: scaleX(1);
    transform-origin: left;
}

/* Mobile menu */
.menu-logo{
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

/* Section 2 */
.section-two{
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    
}
.section-two-container{
    width: 100%;
    height: auto;
    height: 60vh;
    /* padding-block: 3rem; */
    background-color: var(--light-peach);
    transform: skewY(-6deg);
    display: flex;
    align-items: center;

}
.section-two-img{
    width: 28rem;
}
.content{
    /* padding-top: 5rem; */
    width: 80%;
}
.section-two-inner-container{
    transform: skewY(6deg);
    width: 80%;
    margin:auto;
    display: flex;
    align-items: end;
    /* margin-block: 1.5rem; */
    /* background-color: yellowgreen; */
}
.section-two-inner-container h1{
    font-size: 3rem;
}
.section-two-inner-container p{
    max-width: 60%;
}
.section-two-price{
    margin-block: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
}
.section-two button{
    padding: 0.85rem 1.25rem;
    border: 0.15rem solid  var(--light-black);
    background-color: transparent;
    transition: transform 0.5s ease;
    cursor: pointer;
}

/* Section three */
.section-header{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
}
.card-container{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    text-align: center;
    flex-wrap: wrap;
}
.card{
    background-color: var(--light-gray);
    padding-block: 2rem;
}
.card-img{
    width: 20rem;
}
.card-price{
    font-size: 1.25rem;
    margin: 0.05rem 0 1.5rem 0;
}

/* Section four */
.section-four{
    display: flex;
    align-items: center;
}
.section-four-container{
    background-image: url('./assets/watch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-attachment: fixed;
}
.section-four-offer{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: allison;
    color: var(--light-peach);
}
.section-four-heading{
    font-size: 4rem;
    color: var(--white);
    margin-bottom: 1rem;
}
.section-four-btn{
    font-size: 1.05rem;
    padding: 1rem 1.25rem;
    border: none;
    background-color: var(--light-peach);
    transition: .5s ease;
    cursor: pointer;
}
.section-four-container::before{
    content:"";
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    inset: 0;
}
.section-four .content{
    z-index: 10;
}

/* Section  -  5 */
.grid-card-container{
    width: 60%;
    margin: auto;
    height: 80vh;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 12rem;
}
.grid-card{
    background-color: var(--light-gray);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-card:nth-child(1){
    grid-row: 1/4;
    background-image: url('./assets/rado\ watch.jpg');
}
.grid-card:nth-child(2){
    grid-row: 1/3;
    background-image: url('./assets/geneve\ watch.jpg');
}
.grid-card:nth-child(3){
    background-image: url('./assets/tissot\ watch.jpg');
}
.grid-card:nth-child(4){
    background-image: url('./assets/cartier\ watch.jpg');
}
.grid-card:nth-child(5){
    background-image: url('./assets/omega\ watch.jpg');
}
.grid-card:nth-child(6){
    background-image: url('./assets/fitron\ watch.jpg');
}
.grid-card::before{
    content:'';
    background-color: rgba(0,0,0,0.5);
    inset:0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
.grid-card:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}
.grid-card::after{
    content: attr(collection);
    text-transform: uppercase;
    background-color: var(--light-peach);
    padding: 1rem 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.05s ease-in-out;
}
.grid-card:hover::after{
    opacity: 1;
    visibility: visible;
}
/* Footer  */
footer{
    height: 10vh;
    background-color: var(--light-black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text{
    color: var(--white);
    font-size: 1.15rem;
}
/* Media Query */
@media screen and (max-width: 850px){
    /* Section 1 */
    .logo{
        z-index: 110;
    }
    .img-container{
        display: none;
    }
    .nav-links{
        position: fixed;
        flex-direction: column;
        background-color: var(--light-gray);
        left: 110%;
        top: 0;
        width: 120%;
        height: 110vh;
        align-items: center;
        justify-content: center;
        z-index: 100;
        transition: 0.5s ease-in-out;
    }
    .nav-links-active{
        left: -10%;
    }
    .menu-logo{
        display: block;
        z-index: 110;
    }
    .header-heading{
        font-size: 3.15rem;
    }
    header{
        justify-content: flex-start;
    }
    .primary-btn{
        margin-bottom: 1rem;
    }

    /* Section 2 */
    .section-two-inner-container{
        padding-block: 1.5rem;
        width: 90%;    
    }
    .section-two-inner-container p{
        max-width: 100%;
    }
    .section-two h1{
        font-size: 2rem;
    }
    .section-two-img-container{
        display: none;
    }   
    /* Section three */
    .card-img{
        width: 15rem;
    }
    /* Section 4 */
    .section-four-heading{
        font-size: 2rem;
    }
    .section-four-offer{
        font-size: 2.5rem;
    }
    /* Section-5 */
    .grid-card-container{
        width: 90%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .grid-card:nth-child(1),.grid-card:nth-child(2){
        grid-row: 1/2;
    }
}